
<h2>这里是首页</h2>
<ul>
    <li>1.路由守卫</li>
    <li>2.默认图片业务的讨论</li>
    <li>3.默认图片业务使用自定义属性指令</li>
    <li>4.异步的顺序</li>
    <li>5.js关于语句与方法，延伸几种循环的区别</li>
</ul>
<ul>
    <li><a href="https://www.angular.cn/api/core/HostListener">关于HostListener</a></li>
    <li><a href="https://www.angular.cn/guide/router#milestone-5-route-guards">关于路由守卫</a></li>
    <li><a href="https://blog.csdn.net/baidu_33295233/article/details/79335127">关于异步顺序</a></li>
</ul>
<div style="margin-top: 20px;">
    这里是跳转链接
</div>
for 
for in 
forEach
map 
for of 
<a [routerLink]="['/angular',11]">11</a>
<a [routerLink]="['/angular',12]">12</a>
<a [routerLink]="['/angular',13]">13</a>
<button (click)="toAngular()">go to the Angular and choose the 17th hero</button>
<div>
    <img class="o" src="../../assets/img/kobe.jpeg" alt="">
    <img appErrorImagSrc src="../../assets/img/kobe.jpeg" alt="">
</div>
<button (click)="change()">我是状态改变</button>