<ul>
  <li class="list">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </li>
  <li class="list">
    <div></div>
  </li>
  <li class="list">
    <ul class="left_1">
      <li>图标1</li>
      <li>图标2</li>
      <li>图标3</li>
      <li>图标4</li>
      <li>图标5</li>
      <li>图标6</li>
    </ul>
    <ul class="left_1">
      <li>导航颜色</li>
      <li>导航颜色</li>
      <li>导航链接</li>
    </ul>
    <ul class="left_1">
      <li>导航颜色</li>
      <li>导航颜色</li>
      <li></li>
      <li></li>
    </ul>
  </li>
</ul>